<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>夜郎谷旅游</title>
	<meta content="夜郎谷旅游" name="keywords" />

	<meta content="夜郎谷旅游" name="description" />

	<link href="../css/base.css" rel="stylesheet" type="text/css">

	<link href="../css/pagename.css" rel="stylesheet" type="text/css">



</head>



<body>



<!--header-->

<div class="header">

	<div class="w1000">

		<p>你好，欢迎光临夜郎谷！</p>


	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

		<a href="../index.html" class="logo">
			夜郎谷旅游
		</a>
       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="leave.html">留言</a></li>
     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner开始-->

	<div class="banner_erji">

		<img src="../images/banner_4.jpg"  alt="" title="">

	</div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

			<div class="leftbar">

				<div class="leftnav">

					<h1>话说夜郎</h1>

					<ul class="ul_left">





						<li><h3><a href="introduce.html">夜郎简介</a></h3>

						</li>



						<li><h3><a href="Culture.html">夜郎文化</a></h3>

						</li>



						<li><h3><a href="historic.html">夜郎历史</a></h3>

						</li>

					</ul>


				</div>

				<!--<div class="left_lx">-->

				<!--<h1>联系方式</h1>-->

				<!--<p>地址：XXXX</p>-->

				<!--<p>联系人：XXXX</p>-->

				<!--<p>电话：0771-xxxxxxx</p>-->

				<!--<p>QQ：9XXX5</p>-->

				<!--<p>网址：www.lczdnn.com</p>-->

				<!--<p>邮编：530001</p>-->

				<!--</div>-->

			</div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 夜郎文化</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>夜郎文化</span>

                        　发布时间：2017-12-10 23:25:28

                  </p>

                	<div class="con">

               		   <p>

	<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国是个多民族的国家，其文化最大特点是多元化的。据《汉书》 、《华阳国志》、 《水经注》记载，夜郎的主体先民是濮人、僚人，后发展为仡佬人。“仡佬”一词自南宋首次出现后一直沿用至今。夜郎文化是指夜郎政治、经济范围内所有民族文化的组合，也是指受夜郎文化势力影响的周边地区文化的组合，包括古夜郎文化，也涵盖了夜郎风影响的当代民族文化。古夜郎强盛时期，其疆城达到昆明以东、广西中西部、湖南芷江等地。
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国西南地区古代夜郎族的文化。夜郎一名最早出现于战国晚期。汉时夜郎族是西南夷中较大的部族，居地在今云南昭通和贵州赫章、威宁彝族回族苗族自治县一带。1976～1978年，在赫章、威宁发掘了大批夜郎文化的墓葬。这些墓都是小型土坑墓，无坟丘。有的有简陋木棺；有的以铜鼓或鼓式釜为葬具，内放人头骨和牙齿，或将多具骨架零乱埋在丛葬坑中。一般只随葬少量陶器、青铜器、铁器、珠饰等。既有民族特色的长条形铜锄、宽刃无胡戈、鼓形釜、宽边手镯、长发钗、牛头形带钩等，又有与中原内地相同的铜镜、印章、半两钱、五铢钱以及铁兵器和漆器。 要说夜郎文化，必须了解夜郎国的历史。约战国初期，濮人建立了夜郎国。近几年，区文化部门通过多次深入贵、川等地实地考察，组织有关人员研讨，成立夜郎文化研究会等形式，初步对夜郎文化进行探讨与挖掘。在此基础上成立了夜郎风情表演团，主要适应景区景点及宾馆等涉外场所的演出。
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;两千多年来，古夜郎的历史面貌，始终是一个未曾解开的“谜”。在一般人的心目中，它几乎成了一个神话的国度。“夜郎自大”贻笑百代，引起世人对夜郎产生浓厚的兴趣，它正在成为人们来“夜郎故地”观光和探秘的吸引物，也是社会科学界研讨的大热点。不管怎样，夜郎国在秦汉时期的西南夷数十个社会实体中“最大”之一，具有充分的史实记载，贵州的大部分地区都属夜郎的辖地，也是不争的史实.
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;据可靠记载，夜郎在秦汉时代是西南夷地区一个人多地广的“最大”实体。如果把贵州划分为两部分，那么，以铜仁为主的部分地区属于楚国的黔中地，其余地区，战国时都在夜郎的管辖之下。
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;楚顷襄王二十二年（公元前277），楚将庄跻沿远水溯流而上，克降了位于今福泉及都匀半部的且兰国和夜郎，深入到滇池地区。秦始皇统一六国，分全国为三十六郡，在今贵州境内设置黔中郡；为加强对西南地区的控制，又自蜀修筑通往西南夷的“五尺道”，在巴属和夜郎地区设置关塞，据清代学者考证，秦在今贵州境内外先后设置的县有刹成（今黎平）、毋剑（今独山）、且兰（今福泉）、夜郎（今石阡）、汉阳（今赫章）等。汉武帝统治时期，夜郎的势力越来越强盛，《史记·西南夷列传》载：“西南夷君长以什数，夜郎最大。”可见夜郎的势力已经超过了西南滇，而且控制了周边各国，成为独立于汉之外雄据一方的政权。汉武帝建元六年（公元前135年），翻阳令唐蒙奉令出使南越，在南越尝到枸酱，大为惊讶，经多方打听，了解到枸酱是由夜郎沿牂牁江转运到南越去的。当时联想到政治和军事方面的许多问题，于是，唐蒙上书汉武帝，提出通夜郎以制南越的计划。夜郎道的修筑开初进展顺利，但由于山崇岭峻，气候不断改进劣，怨声四起，不得不停止，唐蒙计划未能实现，但西南地区道路遥远，山川阻隔的状况多少有了一些改变。这以后，西汉政权对夜郎的控制时松时紧，夜郎统织者也以能独霸一方而沾沾自喜，极少与内地往来，甚至越来越不知天高地厚。
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时至今日，在西南掀起一股“夜郎研究热”，由于考古出土的历史文物不多，夜郎的历史真面目尚未彻底弄清，加上贵州各地众多的文化遗存和传说，使人们对其夜郎文化更充满悬念。如夜郎的时间定位问题，上限至少可追溯到周襄王元年（公元前651年）齐醒公会盟诸侯于葵丘以前。下限一般都认为是汉成帝河平二年（公元前27年），夜郎王兴因胁迫22邑反叛汉王朝，为汉牂牁使陈立灭国。

	</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer">
	<p>Copyright &copy; 2017－2020 All Rights Reserved 版权所有</p>
	<p>地址：位于贵州贵安新区党武乡花溪大学城的夜郎谷喀斯特生态园是一个独领风骚的神秘之谷</p>
</div>



<!--footer 结束--> 

</body>

</html>

