<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>夜郎谷旅游</title>
	<meta content="夜郎谷旅游" name="keywords" />

	<meta content="夜郎谷旅游" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

		<p>你好，欢迎光临夜郎谷！</p>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html" class="logo">
				夜郎谷旅游
			</a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>
                <li><a href="leave.html">留言</a></li>
     		</ul>  

    </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_4.jpg" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说夜郎</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">夜郎简介</a></h3>

</li>

        

        <li><h3><a href="Culture.html">夜郎文化</a></h3>

</li>

        

        <li><h3><a href="historic.html">夜郎历史</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <!--<div class="left_lx">-->

                	<!--<h1>联系方式</h1>-->

                    <!--<p>地址：XXXX</p>-->

                      <!--<p>联系人：XXXX</p>-->

                      <!--<p>电话：0771-xxxxxxx</p>-->

                      <!--<p>QQ：9XXX5</p>-->

                      <!--<p>网址：www.lczdnn.com</p>-->

                      <!--<p>邮编：530001</p>-->

                <!--</div>-->

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 夜郎历史</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>夜郎历史</span>

                        发布人:管理员　　发布时间：2017-12-10 23:25:28

                  </p>

                	<div class="con">

               		   <p>

	<p>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;夜郎古国的贵州，是一个多山、多林、多雨的地区，其古国构造的传说，民族文化的渊源及典型的喀斯特地貌、葱绿的原始绿色植被，吸引着众多的海内外游客。近日在贵阳召开的“夜郎古国研讨会上”，[2] 来自海内外的诸多专家、学者，就如何打造夜郎国这张旅游品牌，提出了许多宝贵的意见。
						<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“夜郎”曾引得多少文人折腰膜拜，而艺术工作者宋培伦则把自己对夜郎的梦境演化为黔山秀水间的一件杰作。 生性倔强的宋培伦，自幼喜欢作画，特别酷爱用大自然的天然造型来作画。他在美国生活时所创作的“夜郎古堡、夜郎图腾、夜郎脸谱”及在国内所创作的大型夜郎国杰作“魔鬼城、夜郎谷”等艺术作品，深得海内外人士的赞赏，引来众多游客的朝拜。其作品从不同的角度，反映出这位夜郎汉子对夜郎古国的钟情。
						<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;夜郎谷是宋培伦为贵州贵阳花溪党武斗篷乡境内一条小峡谷命名的。夜郎谷生态园位于斗篷山脚，思丫河由北向南贯穿全景，全长2．5公里。景区北靠思丫民族村寨，西临斗篷山苗寨，南接上板桥布依村村寨，距花溪南大街约3公里。据史料载：斗篷山就是古夜郎国道府夜郎邑的辖地。夜郎王后裔金筑府所在地。斗篷山顶至今还保留着古夜郎城墙屯堡的残垣断壁。斗篷山不仅有丰富的古夜郎国历史文化内涵，而且有风光绮丽的生态旅游资源。
						<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;夜郎谷既是夜郎古国的一种浓缩再现，又是石林艺术文化融为一体的自然生态的幽雅融合。青石堆就的城门在阳光下散发出冷静的光芒，青藤爬满其上，犹如为时空画下一个大大的句号，城门内树木层层叠叠，近处尚能分辨出树与树之间与青天浑然一体，令人分不清究竟是天染亮了这片绿色，还是苍林染碧了青天。
	</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer">
	<p>Copyright &copy; 2017－2020 All Rights Reserved 版权所有</p>
	<p>地址：位于贵州贵安新区党武乡花溪大学城的夜郎谷喀斯特生态园是一个独领风骚的神秘之谷</p>
</div>



<!--footer 结束--> 


</body>

</html>

