<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>夜狼谷旅游</title>
	<meta content="夜狼谷旅游" name="keywords" />

	<meta content="夜狼谷旅游" name="description" />

	<link href="../css/base.css" rel="stylesheet" type="text/css">

	<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

		<p>你好，欢迎光临夜狼谷！</p>


	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

		<a href="../index.html" class="logo">
			夜狼谷旅游
		</a>
       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="leave.html">留言</a></li>   


     		</ul>  

    </div>       

</div>
<!--header结束--> 



<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_4.jpg"  alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

			<div class="leftbar">

				<div class="leftnav">

					<h1>话说夜郎</h1>

					<ul class="ul_left">





						<li><h3><a href="introduce.html">夜郎简介</a></h3>

						</li>



						<li><h3><a href="Culture.html">夜郎文化</a></h3>

						</li>



						<li><h3><a href="historic.html">夜郎历史</a></h3>

						</li>

					</ul>


				</div>

				<!--<div class="left_lx">-->

				<!--<h1>联系方式</h1>-->

				<!--<p>地址：XXXX</p>-->

				<!--<p>联系人：XXXX</p>-->

				<!--<p>电话：0771-xxxxxxx</p>-->

				<!--<p>QQ：9XXX5</p>-->

				<!--<p>网址：www.lczdnn.com</p>-->

				<!--<p>邮编：530001</p>-->

				<!--</div>-->

			</div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 夜郎简介</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>夜郎简介</span>

                        发布时间：2017-12-10 23:25:28

                  </p>

                	<div class="con">

               		   <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;夜郎谷位于贵州省最东部的万山特区与湖南省最西部的新晃侗族自治县接壤的风景区内，地处云贵高原苗岭山脉东延末端、雪峰山脉以西、武陵山脉以南的结合部。这里气侯温和，雨量充沛，景色迷人。景区属喀斯特地貌，由于元古界上震旦系亿万年的地壳运动，地貌受地质构造制约，风化剥蚀和流水切割强烈，山体常悬陡崖，状如砖层，奇形异状，三步有景，百步藏险，蔚为奇观。
						<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;夜郎谷是近年在景区内发现的诸多奇峰异水中独领取骚的神秘之谷，它西起我国第一个特区——万山特区的高楼坪乡，西止“湘西明珠”新晃侗族自治县属方家屯乡，谷长15公里，山谷直接切割深度200－650米。谷底展宽平均不足30米。从高处往下看，拟人在九天，云汉低矮，狭长的幽谷。好象是被巨人特地球撕开的一道深不可测的裂缝，神秘兮兮，令人断想无穷。一入谷底，只见飞鹰断崖，水鸟破烟，风轻林静。从下往上看，一线天空，白云空远，危崖耸立，云飞山动，令人惊心动魄。且高崖之上，悬洞之中，吐出20多条瀑布，竞相抛珠撒玉，投空而来。三十里幽谷，三十里画廊，三十里几乎与世隔绝。千万年来，此地从无人间烟火。夜郎谷幽境，堪称天下一绝。如今，夜朗谷经新晃、万山两地政府联手开发，使她终于从远古走向当代文明社会，她一面世，即惊世骇俗。
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;夜郎谷景区险峻无比，山水灵气，滋润一方人民。自古以来，在这块土地上，繁衍生息的先民创造了许多美丽动人的传说故事。相传竹子所生的夜郎国王被当朝皇帝所害，其子三朗及后人遁入此谷。后，汉皇念其系竹所育，逐生了怜悯之心，并在属地立竹王庙供活人祭祀。唐贞观八年，置夜郎县（现新晃），历108年。可见夜郎文化背景深厚和悠久。其实，早在5万－10万年前的旧石器时代以来，在舞水流域，我们的先民就已创造了人类的早期文明。现夜郎谷仍有许多与夜郎王有关的传说，猿回头、双狮护王、夜郎王峰、夜郎王印、夜郎王庙、古栈道、悬棺洞、娘娘播梅、仙女下溪、侗妹漂布等景观和大量流传的风物故事，使夜郎谷增加了许多使入回肠荡气的神秘色彩。
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;夜郎谷对夜郎文此的积淀和神秘，千百年夹，吸引了无数的文人墨客，李白、王昌龄、陆游、林则徐、沈从文等均在夜郎县境留下了许多奇文佳旬。唐代诗人李白曾赠王昌龄诗曰：扬花落尽子规啼，闻道龙标过五溪，我寄愁心与明月，随风直到夜郎西。
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;夜郎谷漂流，交通十分方便。它位于湘黔铁路、320国道、铜（仁）玉（屏）高等级公路之间，从湖南怀化、芷江、新晃、贵州铜仁、万山、玉屏等地乘车可直达，与湖南张家界、芙蓉楼、受降城、贵州焚净山、青龙洞等著名风景区和纪念地招联，交通和旅游条件得天独厚。
					</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer">
	<p>Copyright &copy; 2017－2020 All Rights Reserved 版权所有</p>
	<p>地址：位于贵州贵安新区党武乡花溪大学城的夜郎谷喀斯特生态园是一个独领风骚的神秘之谷</p>
</div>



<!--footer 结束--> 


</body>

</html>

