<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>夜郎谷旅游</title>
	<meta content="夜郎谷旅游" name="keywords" />

	<meta content="夜郎谷旅游" name="description" />

	<link href="../css/base.css" rel="stylesheet" type="text/css">

	<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

		<div class="w1000">

			<p>你好，欢迎光临夜郎谷！</p>

		</div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

		<a href="../index.html" class="logo">
			夜郎谷旅游
		</a>
       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>
                <li><a href="leave.html">留言</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container" style="padding-top: 20px">

		<!--banner-->



		<!--banner end--> 

		

		<!--content-->

		<div class="content clearfix" >

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>给我留言</h1>

                	<ul class="ul_left">

                    

                    

        <li>
          <h3><a href="leave.html">给我留言</a></h3>

</li>


        

         	</ul>

                 
              </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：贵州贵安新区党武乡花溪大学城</p>

                      <p>联系人：潘小姐</p>

                      <p>电话：123456666</p>

                      <p>QQ：9XXX95</p>

                      <p>网址：xxxxxx</p>

                      <p>邮编：550025</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> >给我留言</div>

                <div class="contact_nei">
               <form id="feedback_form" name="feedback_form">
	<ul>
		<li>
			<label>您的称呼：</label><input id="txtUserName" name="txtUserName" type="text" class="yuyue_in" /> 
		</li>
		<li>
			<label>您的电话：</label><input id="txtUserTel" name="txtUserTel" type="text" class="yuyue_in" /> 
		</li>
		<li>
			<label>您的性别：</label><input type="radio" class="yuyue_ra" name="txtUserQQ" value="男" /> <em>男</em> <input name="txtUserQQ" value="女" type="radio" class="yuyue_ra" /> <em>女</em></li>
		<li>
			<label>你的留言：</label><textarea id="txtContent" name="txtContent" cols="" rows="" class="yuyue_te"></textarea> 
		</li>
		<li>
			<input name="btnSubmit" id="btnSubmit" type="button" value="提交" class="btn" /> <input name="" type="reset" value="重置" class="btn" />
		</li>
	</ul>
</form>
          

                </div>
               
               
               
            </div>
        </div>


		<!--content end--> 

</div>

<!--footer开始-->

<div class="footer">
	<p>Copyright &copy; 2017－2020 All Rights Reserved 版权所有</p>
	<p>地址：位于贵州贵安新区党武乡花溪大学城的夜郎谷喀斯特生态园是一个独领风骚的神秘之谷</p>
</div>



<!--footer 结束--> 

</body>
<script src="../js/jquery-1.6.2.min.js"></script>
<script>
	window.onload=function () {
		$("#btnSubmit").click(function () {
			alert("我已收到你的留言，谢谢！");
			window.location="../index.html";
        })
    }
</script>

</html>

