<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>夜郎谷旅游</title>
	<meta content="夜郎谷旅游" name="keywords" />

	<meta content="夜郎谷旅游" name="description" />

	<link href="../css/base.css" rel="stylesheet" type="text/css">

	<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

		<p>你好，欢迎光临夜郎谷！</p>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

		<a href="../index.html" class="logo">
			夜郎谷旅游
		</a>
       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>
                <li><a href="leave.html">留言</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner-->

		<div class="banner_erji">

			<img src="../images/2.jpg"  alt="" title="" style="display: block;margin: 0 auto;margin-top: -170px;">        </div>

		<!--banner end--> 

		

		<!--content-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>线路介绍</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="tourism.html">线路介绍</a></h3>

</li>

        

      
         	</ul>

                 
                </div>


            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 线路介绍</div>
				<div class="con_news">

					<p class="p_tit2">

						<span>线路介绍</span>

						　发布时间：2017-12-10 23:25:28

					</p>

					<div class="con">

						<p>

						<p>
							<img src="../images/map.png" alt="" style="display: block;margin: auto">

						</p>

						<p>

							<br />

						</p>

					</div>

				</div>

            </div>

        </div>

		<!--content end--> 

</div>

<!--footer开始-->

<div class="footer">
	<p>Copyright &copy; 2017－2020 All Rights Reserved 版权所有</p>
	<p>地址：位于贵州贵安新区党武乡花溪大学城的夜郎谷喀斯特生态园是一个独领风骚的神秘之谷</p>
</div>


<!--footer 结束--> 
</body>

</html>

